.template-system_warehouse_view.portaltype-system_warehouse .col-xs-12,
.template-system_warehouse_view.portaltype-system_warehouse .col-sm-12 {
  padding-left: 0px;
}

.template-system_warehouse_view.portaltype-system_warehouse
  .documentFirstHeading {
  border-bottom: 0px;
}
.template-system_warehouse_view #content-core .entries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 2em 0 0 0;
}

.template-system_warehouse_view #content-core .entries::before {
  content: "";
}

.template-system_warehouse_view #content-core .tileItem {
  width: 315px;
  height: 275px;
  white-space: normal;
  box-sizing: border-box;
  margin: 15px 20px 30px 30px;
  padding: 30px 15px 15px 30px;
  background-color: #f0f0f0;
  border-radius: 20px 0 20px 0;
  box-shadow: 0 5px 8px rgb(50 50 93 / 10%), 0 5px 8px rgb(0 0 0 / 7%);
}

.template-system_warehouse_view #content-core .tileItem:nth-child(3n + 3) {
  margin-right: 0;
}

.template-system_warehouse_view.portaltype-system_warehouse .tileImage,
.template-system_warehouse_view.portaltype-system_warehouse .tileImageNoFloat {
  margin: 0 1em 0 0;
  padding: 0 0 0 0;
  float: left;
  width: 55px;
  height: 75px;
  display: block;
}

.template-system_warehouse_view.portaltype-system_warehouse .tileImage a,
.template-system_warehouse_view.portaltype-system_warehouse
  .tileImageNoFloat
  a {
  border-bottom: transparent !important;
}

.template-system_warehouse_view.portaltype-system_warehouse .tileHeadline {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.45em;
  margin: 0 15px 18px 0;
}
.template-system_warehouse_view #content-core .tileDescription {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 400;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.template-system_warehouse_view #content-core .tileBody {
  display: none;
}
.template-system_warehouse_view #content-core .tileFooter {
  /*position: absolute;
	bottom: 5px;*/
  display: none;
}
.pagination {
  float: left;
  clear: left;
}
.template-system_warehouse_view.portaltype-system_warehouse .tileIcon i,
.template-system_warehouse_view.portaltype-system_warehouse .tileSubject {
  /*position: absolute;
  color: #767676;*/
  display: none;
}
.template-system_warehouse_view.portaltype-system_warehouse .tileSubject {
  bottom: 4px;
  left: 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
}
